* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
}

:root {
    --background: #F8F9FA;
    --background-shadow: #F1F2F3;
    --text: #1A252F;
    --subtitle: #5D6D7E;
    --blue-accent: #3498DB;
    --orange-accent: #E67E22;
    --pastel-purple: #A29BFE;
    --neutral-gray: #BDC3C7;
    --mint-green: #2ecc71;
    --dark-mint-green: #27AE60;
    --dark-blue-accent: #2178C3;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 20px
}

header h1 {
    color: var(--text);
    background-clip: text;
}

.header-buttons {
    display: flex;
    gap: 10px;
    align-content: baseline;
}

.header-button {
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--pastel-purple);
    cursor: pointer;
    font-size: 16px;
}

.text-button {
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: #1A252F;
    align-content: baseline;
    border-color: transparent;
    padding: 0 10px;
}

.text-button:hover {
    border-width: 0;
    background-color: var(--background-shadow);
    border-radius: 8px;
    font-weight: bold;
}

.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#search {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.button-add {
    padding: 7px 40px;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--mint-green);
    cursor: pointer;
    font-size: 16px;
}

main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.filters {
    flex: 1;
    max-width: 300px;
    margin: 10px 0;
}

.filters select,
.filters input[type="range"],
.filters label {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.filters input[type="checkbox"] {
    margin-top: 10px;
}

#book-list {
    flex: 3;
}

.book-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--blue-accent);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px var(--neutral-gray);
}

.book-details {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.book-price {
    font-weight: bold;
}

.book-description {
    font-size: 12px;
    color: #555;
}

.add-book-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px var(--neutral-gray);
}

.add-book-form input, .add-book-form select, .add-book-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--neutral-gray);
    border-radius: 5px;
    margin: 10px 0;
}

.add-book-form header {
    align-content: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--mint-green);
    background-color: var(--mint-green);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-mint-green);
    border-color: var(--dark-mint-green);
}

#submit {
    width: 100%;
}

textarea {
    resize: none;
}
